<%= content_tag 'div', id: 'visitors', data: {user: (current_user.name if current_user) } do %>
  <h3>Welcome</h3>
  <p ><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<% end %>

