<h3>Pick your city</h3>

<div class="form-inline">
<%= form_for @user do |f| %>

  <div class="form-group">
    <%= f.label :city_id, 'City' %>
    <%= f.collection_select :city_id, @cities, :id, city_data, class: "form-control" %>
  </div>

    <%= f.submit 'Pick city' %>
<% end %>
</div>